<div class="flex justify-between items-center	 footer">

  <div class="content">
    <div class="flex justify-center">
<!--      <div class="flex">-->
<!--        <h3>Valeriia <span>valeriia.kuryliak&#64;gmail.com</span></h3>-->
<!--      </div>-->


      <a href="https://www.linkedin.com/in/valeriiakuryliak/" target="_blank" >
        <img src="assets/linkedin.svg" alt="linkedin">
      </a>
      <a href="https://github.com/kalerie" target="_blank" >
        <img src="assets/github.svg" alt="github">
      </a>
    </div>

    <div>Copyright © 2024 kalerie</div>
  </div>

</div>
