<section id="about" class="mt-12 cursor-default">

  <div class="flex items-center gap-6">
    <h1 class="title">
      <span class="text-accent">#</span>about
    </h1>
    <span class="h-[1px] w-full flex-1 bg-violet"></span>
  </div>

  <div class="about-list  flex ">
    <p>Hi, I'm Valeriia</p>

    <p>
      I am a Full-Stack JavaScript Developer with 4+ years of experience creating scalable, responsive web applications.
      Skilled in Angular, React, and Node.js,
      I focus on efficient performance, robust functionality, and delivering impactful user experiences.
    </p>

    <p>
      With a track record of building innovative solutions, I stay ahead of industry trends, exploring emerging technologies to ensure each project is modern and effective.
      Dedicated to collaboration and problem-solving, I help clients achieve impactful, lasting results.
    </p>
  </div>



</section>
