<div class="flex justify-between items-center">
<!--  <div id="social-box" class="social-container">-->
<!--    <span></span>-->
<!--    <div class="social-container__links">-->
<!--      <a href="https://github.com/kalerie" target="_blank">-->
<!--        <img src="../../../assets/github.svg" alt="GitHub">-->
<!--      </a>-->
<!--      <a href="https://www.linkedin.com/in/valeriiakuryliak/" target="_blank">-->
<!--        <img src="../../../assets/linkedin.svg" alt="LinkedIn">-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->

  <a href="/" (click)="scrollService.scrollToTop($event)">
    <img class="h-16" src="assets/logo.svg" alt="logo">
  </a>

  <app-nav-desktop class="md:flex hidden"></app-nav-desktop>

  <app-nav-hamburger class="md:hidden"></app-nav-hamburger>
</div>
