<nav id="desktop-nav">
  <ul class="flex flex-row gap-8 text-2xl">
    <li class="nav-link">
      <a href="/" (click)="scrollService.scrollToTop($event)">
        <span class="text-accent">#</span>home
      </a>
    </li>
    <li class="nav-link">
      <a href="#projects" (click)="scrollService.scrollToSection($event, 'projects')">
        <span class="text-accent">#</span>projects
      </a>
    </li>
    <li class="nav-link">
      <a href="#about" (click)="scrollService.scrollToSection($event, 'about')">
        <span class="text-accent">#</span>about
      </a>
    </li>
    <li class="nav-link">
      <a href="#contacts" (click)="scrollService.scrollToSection($event, 'contacts')">
        <span class="text-accent">#</span>contacts
      </a>
    </li>

    <!--        <li>EN</li>-->
    <!--        //TODO: add pl, maybe ua-->
    <!--        TODO chnange cursot to default-->
  </ul>
</nav>
