.title {
  color: white;
}

.figures {
  top: 35%;
  left: 20%;
}

.dots {
  top: 60%;
  right: 24px;
}





//.section__quote {
//  padding-top: 4rem;
//  flex-basis: 100%;
//  display: flex;
//  flex-direction: column;
//
//}
//
//.section__quote div {
//  position: relative;
//  /*// TODO couse hamburger menue bug*/
//
//  padding: 32px;
//  border: solid 1px var(--secondary-dark);
//}
//
//.section__quote div:last-child {
//  border-top: none;
//  align-self: flex-end;
//
//}
//
//.section__quote div img {
//  position: absolute;
//  top: -20px;
//  background-color: var(--background-dark);
//  padding: 8px;
//}
//
//.quote__text {
//  font-size: 1.5rem;
//  text-align: center;
//}
//
//.quote__text img {
//  left: 32px;
//}
//
//.quote__name img {
//  right: 32px;
//}
