<section @enter id="profile">
  <div class="cursor-default flex flex-col mt-5 sm:m-0 sm:flex-row">
    <div class="basis-3/5 p-0 lg:pr-6 sm:pr-2 flex flex-col self-end gap-8">
      <h1 class="title">I'm Valeriia,
        <br><span class="text-accent">Front-End developer</span>
      </h1>
      <p>
        Your ideas, my code.
        Creating smooth, responsive, and user-friendly web experiences is my passion.
        <!--      Every detail matters when building experiences that people love.-->
        Let’s collaborate and make the web shine! ✨💻
      </p>
      <button class="btn-primary self-start" onclick="location.href='./#contacts'">
        Get in Touch
      </button>
    </div>

    <div class="relative sm:basis-2/5 flex justify-center sm:h-72 h-60">
      <img class='h-full z-10' src="assets/profile-image.png" alt="profile picture">
      <img class="figures absolute h-16" src="assets/figures.svg" alt="figures">
      <img class='dots absolute h-16 z-10' src="assets/dots.svg" alt="dots">
    </div>
  </div>


  <!--  <div class="section__quote">-->
  <!--    <div class="quote__text">-->
  <!--      <img src="assets/quote.svg" alt="quote">-->
  <!--      <p>Code is like humor. When you have to explain it, <br> it’s bad.</p>-->
  <!--    </div>-->
  <!--    <div class="quote__name">-->
  <!--      <img src="assets/quote.svg" alt="quote">-->
  <!--      <p>— Cory House</p>-->
  <!--    </div>-->
  <!--  </div>-->
</section>
